<div class="card animated fadeIn fast ">
  <div class="card-header green_card_header">
    Información Canica
  </div>
  <div class="card-block green-text">
    <blockquote class="card-blockquote">
      <p>
        Canica Aguascalientes Centro de Apoyo a Niños con Cáncer IBP
        <br>
        Acta constitutiva N. 24502 con fecha de 13 agosto de 2016.
        <br>
        Notaría Pública N.47 Dr. Arturo Durán García
      </p>
      <footer>
        Dirección: <cite title="Source Title">Pico de Orizaba 225 Fracc. Jardines de la Concepción II secc.</cite>
        C.P. <i>20120</i> Aguascalientes Ags.  Tel. <i>2514873</i>
      </footer>
    </blockquote>
  </div>
</div>
