<div class="card go_backward" >
  <img class="card-img-top" src="assets/img/profile-female.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Mara Teresa Ayala Márquez</h4>
    <p class="card-text">Tiene amplia experiencia en diseño y funcionamiento de ludotecas así como en Técnicas de Relajación y Atención Plena (Mindfulness).</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Lic. En Educación Preescolar</li>
    <li class="list-group-item">Mtra. En Psicoterapia</li>
    <li class="list-group-item">Mtra. En Psicoterapia Gestalt Infantil</li>
    <li class="list-group-item">Especialidad en Constelaciones Sistémicas</li>
    <li class="list-group-item">Posgrado en Psicosociología</li>
  </ul>
</div>
