
<div class="container main-container">
  <div class="row">


    <div class="col-md-8 animated fadeIn ">
      <h1>Canica en Aguascalientes</h1>
      <p class="text-justify">
        En Canica Aguascalientes Centro de Apoyo a Niños con Cáncer IBP institución sin ánimo de lucro, nuestro programa principal consiste en la atención psicoterapéutica a pacientes de oncología pediátrica y sus familias. Este programa se lleva a cabo en nuestras instalaciones, donde ofrecemos psicoterapia individual y talleres grupales sabatinos dirigidos a madres de familia y a niños de entre 4-18 años.
        <br>
        El principal objetivo es, una vez se define cual es la demanda del paciente, brindar un espacio cálido y seguro para que nuestros beneficiarios exploren sus sentimientos, emociones o conflictos a través de un proceso personal y/o grupal adquiriendo herramientas y estrategias que les permitan afrontar la adaptación al estrés que causa la enfermedad en sus diferentes etapas.
        <br>
        Nuestro programa comprende la evaluación e intervención con los pacientes, sus hermanos y sus padres; el desarrollo de programas psicoeducativos con los niños, abordando temas como la conciencia corporal, la comunicación asertiva o la respiración; con las madres de familia tratamos temas del interés personal como la gestión de emociones o el sistema familiar, o temas relacionados con la crianza de los hijos como los estilos parentales o el establecimiento de límites saludables.
        <br><br>
        Desde que iniciamos el proyecto en el año 2014, quedó clara la importancia de atender a los hermanos de los pacientes, los cuales se ven afectados de manera directa sumando dificultad al conflicto familiar. Otra característica de nuestro trabajo es que se realiza en un ámbito extra hospitalario, lo cual hemos observado, tiene un impacto positivo en los resultados con los pacientes ya que encuentran un ambiente relajado donde tienen la oportunidad de aprender a expresar y comunicarse asertivamente.

      </p>
    </div>

    <app-gallery class="col-md-4"></app-gallery>

    <app-abouther class="col-md-4 offset-md-8"></app-abouther>

  </div>
</div>
