
<div class="container main-container">
  <div class="row">


    <div class="col-md-8 animated fadeIn ">
      <h1>Canica en Aguascalientes</h1>
      <p class="text-justify">
        En Canica Aguascalientes Centro de Apoyo a Niños con Cáncer IBP institución sin ánimo de lucro, nuestro programa principal consiste en la atención psicoterapéutica a pacientes de oncología pediátrica y sus familias. Este programa se lleva a cabo en nuestras instalaciones, donde ofrecemos psicoterapia individual y talleres grupales sabatinos dirigidos a madres de familia y a niños de entre 4-18 años.
        <br>
        El principal objetivo es, una vez se define cual es la demanda del paciente, brindar un espacio cálido y seguro para que nuestros beneficiarios exploren sus sentimientos, emociones o conflictos a través de un proceso personal y/o grupal adquiriendo herramientas y estrategias que les permitan afrontar la adaptación al estrés que causa la enfermedad en sus diferentes etapas.
        <br>
        Nuestro programa comprende la evaluación e intervención con los pacientes, sus hermanos y sus padres; el desarrollo de programas psicoeducativos con los niños, abordando temas como la conciencia corporal, la comunicación asertiva o la respiración; con las madres de familia tratamos temas del interés personal como la gestión de emociones o el sistema familiar, o temas relacionados con la crianza de los hijos como los estilos parentales o el establecimiento de límites saludables.
        <br><br>
        Desde que iniciamos el proyecto en el año 2014, quedó clara la importancia de atender a los hermanos de los pacientes, los cuales se ven afectados de manera directa sumando dificultad al conflicto familiar. Otra característica de nuestro trabajo es que se realiza en un ámbito extra hospitalario, lo cual hemos observado, tiene un impacto positivo en los resultados con los pacientes ya que encuentran un ambiente relajado donde tienen la oportunidad de aprender a expresar y comunicarse asertivamente.
      </p>
    </div>
    <app-gallery class="col-md-4 bottom-30 top-30"></app-gallery>


    <div class="col-md-8 animated fadeIn top-40">

      <h3>El nuevo Movimiento</h3>
      <p class="text-justify">
        En Canica Aguascalientes nos esforzamos por llegar a la mayor cantidad de familias que se puedan beneficiar con nuestros programas, la principal dificultad que hemos encontrado es el aspecto socioeconómico que muchas veces les impide llegar a nuestras instalaciones y aunque nuestros programas no tienen ningún costo para ninguno de nuestros beneficiarios, la realidad es que en muchas ocasiones las familias no cuentan con los recursos para trasladarse, o bien, no pueden gestionar sus tiempos, mismos que están tomados principalmente por sus visitas al hospital y sus ocupaciones domésticas o de trabajo.
        <br><br>
        Por esta y otras razones nos da mucho gusto la invitación que nos hace el ISSEA para participar extendiendo nuestro programa dentro de las instalaciones del Centenario Hospital Hidalgo, en Canica Aguascalientes nos comprometemos a realizar nuestro mejor esfuerzo para llevar nuestro programa de psicoterapia a los pacientes que asisten a departamento de oncología pediátrica; este programa, claro que se adaptará de manera que pueda llevarse a cabo identificando las áreas que necesiten ser atendidas; en un primer momento identificamos:
      </p>
      <ul class="list-group bottom-40">
        <li class="list-group-item">
          <p>Consulta a pacientes y madres/cuidadores, por medio de una entrevista se delimitará la demanda del paciente y se planeará intervención (a los pacientes se les derivará a nuestras instalaciones, exceptuando a quienes no les sea posible por vivir fuera de la ciudad, considerando los espacios disponibles).</p>
        </li>
        <li class="list-group-item">
          <p>Servicio de emergencias psicológicas (impacto del diagnóstico o fallecimiento).</p>
        </li>
        <li class="list-group-item">
          <p>Evaluación del personal médico, de enfermería, psicopedagogas y trabajo social, con la intención de ubicar el grado de desgaste emocional en el trabajo (síndrome de Burnout). Estas evaluaciones tendrán <strong>carácter de voluntarias</strong> y será en beneficio del interesado y para su auto retroalimentación. Podemos realizar un <strong>reporte</strong> para su institución en el cual no se mencionen nombres. El instrumento a utilizar está por definirse. (Maslach Burnout Inventory o bien, la propuesta del Dr. Marín Tejeda quien propone la prueba de “Calidad de Vida Profesional” llamada <strong>ProQOL5</strong> (Stamm 1993) el cual además de su sólida fundamentación teórica puede evaluar una dimensión <strong>positiva</strong> y se puede ubicar al entrevistado en una continua satisfacción/<i>fatiga de compasión</i>; también evalúa <i>síndrome de burnout</i> y <i>trauma vicario</i>, imposible con otros instrumentos).</p>
        </li>
        <li class="list-group-item">
          <p>Intervención psicoterapéutica con el personal que lo solicite.</p>
        </li>
        <li class="list-group-item">
          <p>Sesiones grupales psicoeducativas con el tema del Síndrome de Burnout y estrategias para el autocuidado dirigido al personal médico.</p>
        </li>

      </ul>

      <h3>Acerca de "Mtra. Mara Teresa Ayala Márquez"</h3>
      <p class="text-justify">
        En este acuerdo de colaboración quedará una servidora como responsable del programa, así mismo, seré yo quien realizará las evaluaciones al personal médico, no obstante, Canica Aguascalientes contratará a una psicóloga quien asistirá al hospital en un horario de 9-2 a.m. de lunes a jueves, (los viernes será para supervisión de casos en nuestra oficina), este horario será en el que estaremos trabajando a partir de cuándo ustedes lo indiquen. Consideramos que el periodo de vigencia de este acuerdo sea por los próximos tres años.
        <br>
        <b>Atte.</b> <i>Mtra. Mara Teresa Ayala Márquez.</i>
      </p>

      <a class="btn btn-primary btn-lg puntero animated fadeIn " [routerLink]="['/psicooncologia']" role="button">Más Información.</a>

    </div>


  </div>
</div>
