<app-caro ></app-caro>



<div class="container main-container">

  <div class="row">

    <div id="main_jumbotron" class="jumbotron animated fadeIn fast bottom-40">
      <h1 class="display-3 green-text">Canica en Ags.</h1>
      <p class="lead ">
        En Canica Aguascalientes Centro de Apoyo a Niños con Cáncer IBP institución sin ánimo de lucro, nuestro programa principal consiste en la atención psicoterapéutica a pacientes de oncología pediátrica y sus familias. Este programa se lleva a cabo en nuestras instalaciones, donde ofrecemos psicoterapia individual y talleres grupales sabatinos dirigidos a madres de familia y a niños de entre 4-18 años...
      </p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-success btn-lg puntero animated fadeIn " [routerLink]="['/acerca']" role="button">Aprender Más.</a>
      </p>
    </div>

    <app-address class="col-md-6 offset-md-6"></app-address>

  </div>


</div>
