
<div class="container main-container">
  <div class="row">

    <div class="col-md-8 animated fadeIn ">

      <h1>Psicooncología </h1>
      <p>
        El término Psicooncología está formado por la palabra psico que viene del griego psyque y que significa “alma” o “actividad mental”. Por la palabra onco del griego ónkos y quiere decir “tumor”, y por último por la palabra logía que viene del griego y significa “tratado”. Por lo tanto, es la especialidad dentro de la psicología que atiende y trata a los pacientes afectados de cáncer y a sus familias. Estudia las relaciones entre las variables psicosociales en el inicio y progresión de la enfermedad a lo largo de todas sus fases, desde el momento del diagnóstico hasta la curación o el paso a cuidados paliativos. El cuidado se extiende a promover el bienestar psicosocial del personal médico; brinda soporte emocional al equipo de salud que está al cuidado de pacientes con cáncer, evaluando, informando e interviniendo con el fin de facilitar recursos y estrategias que mejoren su relación con los pacientes y evitar el Síndrome de Burnout.
      </p>

    </div>

  </div>
</div>
