
<div class="row">
  <div class="col-md-4 text-center">
    <img src="/assets/img/scotia-bank.png" alt="Bank" class="img-fluid top-30">
  </div>
  <div class="col-md-4">

    <div class="card card-outline-primary mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p class="blue-text">{{ NUMERO_DE_CUENTA }}</p>
          <hr>
          <footer class="green-text">No. de Cuenta</footer>
        </blockquote>
      </div>
    </div>
    <div class="card card-outline-primary mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p class="blue-text">{{ CLABE }}</p>
          <hr>
          <footer class="green-text">CLABE</footer>
        </blockquote>
      </div>
    </div>

  </div>
  <div class="col-md-4 text-center">
    <img src="/assets/img/canica_full.png" alt="Canica" class="img-fluid top-30">
  </div>
</div>
