/* You can add global styles to this file, and also import other style files */

body{
  background: #fff;
}

.main-container{
    margin-top: 30px;
    margin-bottom: 60px;
}

.top-30{      margin-top: 30px;     }
.bottom-30{   margin-bottom: 30px;  }
.top-40{      margin-top: 40px;     }
.bottom-40{   margin-bottom: 40px;  }
.right-10{    margin-right: 10px    }

.go_backward{
  z-index: -1;
}

.puntero{
  cursor: pointer;
}

#main_jumbotron{
  background-color: #d4e7f7;
  background-color: #eaf3fb;
}

.blue_card_header{
    background-color: #eaf3fb;
    color: black;
}
/*  Original Green   #a9d15a  */
.green_card_header{
  background-color: #eef7ee;
  color: black;
}
.green-border{
  border-color: #cbe7cb;
}
.green-text{
  color: #3e8e3e;
  color: #367c36;
}
.blue-text{
  color: #22609d;
}

#main_navbar{
  background-color: #22609d;
}
#main_footer{
  background-color: #5cb85c;
}


#main_navbar li a {
    color: #d9d9d9;
}
#main_navbar li.active a {
    color: white;
    text-decoration: overline;
    text-decoration-color: #5cb85c;
}

img.ng-thumb{
  height: 65px!important;
}


/*Animcaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
