/* You can add global styles to this file, and also import other style files */

body{
  background: #fff;
}

.main-container{
    margin-top: 30px;
    margin-bottom: 60px;
        padding-bottom: 60px;
}

.puntero{
  cursor: pointer;
}

#main_footer, #main_navbar{
  background-color: #22609d;
}
#main_navbar li a {
    color: white;
}

img.ng-thumb{
  height: 80px!important;
}


/*Animcaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
